.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.card-img {
    height: 100%;;
    object-fit: cover;
}
.supplier-image {
    background-position: center;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    background-size: cover;
    display: block;
}
.supplier-image-lg {
    background-position: center;
    height: 56px;
    width: 56px;
    border-radius: 28px;
    background-size: cover;
    display: block;
}