{% extends 'products/layout.html' %}

{% block content %}
<h3>{{title}}</h3>
<div class="row row-cols-1 row-cols-md-3">
    {% for product in products %}
    <div class="col mb-4">
        <div class="card">
            <img src="{{ product.image.url }}" class="card-img-top" alt="#">
            <div class="card-body">
                <div class="supplier-info">
                    <div class="supplier-image" style="background-image: url('/media/products/product-02.jpeg');">
                    </div>
                    <span class="supplier-name">{{product.supplier.user.username}}</span>
                </div>
                <p class="card-text">{{product.description}}</p>
                <div class="dropdown-divider"></div>
                <div>
                    {% for category in product.category.all %}
                    <span class="badge badge-pill badge-secondary">{{category}}</span>
                    {% endfor %}
                </div>
                <div>
                    <span>Schooltype: {{product.schoo_type}}</span>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}